'.text.html':

    'is-white -> bulma':
      'prefix': 'is-white'
      'body': """

      """

    'is-light -> bulma':
      'prefix': 'is-light'
      'body': """

      """

    'is-dark -> bulma':
      'prefix': 'is-dark'
      'body': """

      """

    'is-black -> bulma':
      'prefix': 'is-black'
      'body': """

      """

    'is-link -> bulma':
      'prefix': 'is-link'
      'body': """

      """

    'is-outlined -> bulma':
      'prefix': 'is-outlined'
      'body': """

      """

    'is-inverted -> bulma':
      'prefix': 'is-inverted'
      'body': """

      """

    'is-active -> bulma':
      'prefix': 'is-active'
      'body': """

      """

    'is-static -> bulma':
      'prefix': 'is-static'
      'body': """

      """
