'.text.html':

    'is-primary -bumla 0.5.0 ':
      'prefix': 'is-primary'
      'body': """
      <p class="is-primary">$1</p>
      """

    'is-info -bumla 0.5.0 ':
      'prefix': 'is-info'
      'body': """
      <p class="is-info">$1</p>
      """
    'is-success -bumla 0.5.0 ':
      'prefix': 'is-success'
      'body': """
      <p class="is-success">$1</p>
      """

    'is-warning -bumla 0.5.0 ':
      'prefix': 'is-warning'
      'body': """
      <p class="is-warning">$1</p>
      """

    'is-danger -bumla 0.5.0 ':
      'prefix': 'is-danger'
      'body': """
      <p class="is-danger">$1</p>
      """

    'is-hover -bumla 0.5.0 ':
      'prefix': 'is-hover'
      'body': """
      <div class="control">
        <input class="input is-hover" type="text" placeholder="Focused input">
      </div>
      """

    'is-focused -bumla 0.5.0 ':
      'prefix': 'is-focused'
      'body': """
       <div class="control">
         <input class="input is-focused" type="text" placeholder="Focused input">
       </div>
      """

    'is-loading -bumla 0.5.0 ':
      'prefix': 'is-loading'
      'body': """
       <div class="control">
         <input class="input is-loading" type="text" placeholder="Focused input">
       </div>
      """
