'.text.html':

    'is-primary -> bulma':
      'prefix': 'is-primary'
      'body': """
      <p class="is-primary">$1</p>
      """

    'is-info -> bulma':
      'prefix': 'is-info'
      'body': """
      <p class="is-info">$1</p>
      """
    'is-success -> bulma':
      'prefix': 'is-success'
      'body': """
      <p class="is-success">$1</p>
      """

    'is-warning -> bulma':
      'prefix': 'is-warning'
      'body': """
      <p class="is-warning">$1</p>
      """

    'is-danger -> bulma':
      'prefix': 'is-danger'
      'body': """
      <p class="is-danger">$1</p>
      """

    'is-hover -> bulma':
      'prefix': 'is-hover'
      'body': """
      <div class="control">
        <input class="input is-hover" type="text" placeholder="Focused input">
      </div>
      """

    'is-focused -> bulma':
      'prefix': 'is-focused'
      'body': """
       <div class="control">
         <input class="input is-focused" type="text" placeholder="Focused input">
       </div>
      """

    'is-loading -> bulma':
      'prefix': 'is-loading'
      'body': """
       <div class="control">
         <input class="input is-loading" type="text" placeholder="Focused input">
       </div>
      """
