'.text.html':

  'media -> bulma':
    'prefix': 'menu'
    'body': """
    <article class="media">
     $1
    </article>
    """

  'media-left -> bulma':
    'prefix': 'menu-left'
    'body': """

    """

  'media-content -> bulma':
    'prefix': 'menu-content'
    'body': """

    """

  'media-right -> bulma':
    'prefix': 'menu-right'
    'body': """

    """

  'level -> bulma':
    'prefix': 'level'
    'body': """

    """

  'level-left -> bulma':
    'prefix': 'level-left'
    'body': """

    """

  'level-right -> bulma':
    'prefix': 'level-right'
    'body': """

    """

  'level-item -> bulma':
    'prefix': 'level-item'
    'body': """

    """
