'.text.html':

  'pagination -> bulma':
    'prefix': 'pagination'
    'body': """
     <nav class="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li>
            <a class="pagination-link">1</a>
          </li>
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a class="pagination-link">45</a>
          </li>
          <li>
            <a class="pagination-link is-current">46</a>
          </li>
          <li>
            <a class="pagination-link">47</a>
          </li>
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a class="pagination-link">86</a>
          </li>
        </ul>
      </nav>
    """

    'pagination-previous -> bulma':
      'prefix': 'pagination-previous'
      'body': """

      """

    'pagination-next -> bulma':
      'prefix': 'pagination-next'
      'body': """

      """

    'pagination-list -> bulma':
      'prefix': 'pagination-list'
      'body': """

      """

    'pagination-link -> bulma':
      'prefix': 'pagination-link'
      'body': """

      """

    'pagination-ellipsis -> bulma':
      'prefix': 'pagination-ellipsis'
      'body': """

      """

    'is-current -> bulma':
      'prefix': 'is-current'
      'body': """

      """
