'.text.html':

    'navbar-brand -> bulma':
      'prefix': 'navbar-brand'
      'body': """

      """

    'navbar-burger -> bulma':
      'prefix': 'navbar-burger'
      'body': """

      """

    'navbar-menu -> bulma':
      'prefix': 'navbar-menu'
      'body': """

      """

    'navbar-start -> bulma':
      'prefix': 'navbar-start'
      'body': """

      """

    'navbar-end -> bulma':
      'prefix': 'navbar-end'
      'body': """

      """

    'navbar-item -> bulma':
      'prefix': 'navbar-item'
      'body': """

      """

    'navbar-link -> bulma':
      'prefix': 'navbar-link'
      'body': """

      """

    'navbar-dropdown -> bulma':
      'prefix': 'navbar-dropdown'
      'body': """

      """

    'navbar-divider -> bulma':
      'prefix': 'navbar-divider'
      'body': """

      """

    'has-dropdown -> bulma':
      'prefix': 'has-dropdown'
      'body': """

      """

    'is-transparent -> bulma':
      'prefix': 'is-transparent'
      'body': """

      """

    'is-hoverable -> bulma':
      'prefix': 'is-hoverable'
      'body': """

      """

    'is-boxed -> bulma':
      'prefix': 'is-boxed'
      'body': """

      """

    'is-hidden-desktop -> bulma':
      'prefix': 'is-hidden-desktop'
      'body': """

      """
