'.text.html':

  'card -bumla 0.5.0 ':
    'prefix': 'card'
    'body': """

    """

  'card-header -bumla 0.5.0 ':
    'prefix': 'card-header'
    'body': """

    """

  'card-header-title -bumla 0.5.0 ':
    'prefix': 'card-header-title'
    'body': """

    """

  'card-header-icon -bumla 0.5.0 ':
    'prefix': 'card-header-icon'
    'body': """

    """

  'card-image -bumla 0.5.0 ':
    'prefix': 'card-image'
    'body': """

    """

  'card-content -bumla 0.5.0 ':
    'prefix': 'card-content'
    'body': """

    """

  'card-footer -bumla 0.5.0 ':
    'prefix': 'card-footer'
    'body': """

    """

  'card-footer-item -bumla 0.5.0 ':
    'prefix': 'card-footer-item'
    'body': """

    """
