'.text.html':

  'breadcrumb -> bulma':
    'prefix': 'breadcrumb'
    'body': """

     """

  'has-arrow-separator -> bulma':
    'prefix': 'has-arrow-separator'
    'body': """

     """

  'has-bullet-separator -> bulma':
    'prefix': 'has-bullet-separator'
    'body': """

     """

  'has-dot-separator -> bulma':
    'prefix': 'has-dot-separator'
    'body': """

     """

  'has-succeeds-separator -> bulma':
    'prefix': 'has-succeeds-separator'
    'body': """

     """
