'.text.html':

  'card -> bulma':
    'prefix': 'card'
    'body': """

    """

  'card-header -> bulma':
    'prefix': 'card-header'
    'body': """

    """

  'card-header-title -> bulma':
    'prefix': 'card-header-title'
    'body': """

    """

  'card-header-icon -> bulma':
    'prefix': 'card-header-icon'
    'body': """

    """

  'card-image -> bulma':
    'prefix': 'card-image'
    'body': """

    """

  'card-content -> bulma':
    'prefix': 'card-content'
    'body': """

    """

  'card-footer -> bulma':
    'prefix': 'card-footer'
    'body': """

    """

  'card-footer-item -> bulma':
    'prefix': 'card-footer-item'
    'body': """

    """
