'.text.html':

  'dropdown -> bulma':
    'prefix': 'dropdown'
    'body': """

    """

  'dropdown-trigger -> bulma':
    'prefix': 'dropdown-trigger'
    'body': """

    """

  'dropdown-menu -> bulma':
    'prefix': 'dropdown-menu'
    'body': """

    """
  'dropdown-content -> bulma':
    'prefix': 'dropdown-content'
    'body': """

    """

  'dropdown-item -> bulma':
    'prefix': 'dropdown-item'
    'body': """

    """

  'dropdown-divider -> bulma':
    'prefix': 'dropdown-divider'
    'body': """

    """
