'.text.html':

  'panel -> bulma':
    'prefix': 'panel'
    'body': """
    <nav class="panel">
        <p class="panel-heading">
          repositories
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-small" type="text" placeholder="search">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </p>
        </div>
        <p class="panel-tabs">
          <a class="is-active">all</a>
          <a>public</a>
          <a>private</a>
          <a>sources</a>
          <a>forks</a>
        </p>
        <a class="panel-block is-active">
          <span class="panel-icon">
            <i class="fa fa-book"></i>
          </span>
          bulma
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fa fa-book"></i>
          </span>
          marksheet
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fa fa-book"></i>
          </span>
          minireset.css
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fa fa-book"></i>
          </span>
          jgthms.github.io
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fa fa-code-fork"></i>
          </span>
          daniellowtw/infboard
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fa fa-code-fork"></i>
          </span>
          mojs
        </a>
        <label class="panel-block">
          <input type="checkbox">
          remember me
        </label>
        <div class="panel-block">
          <button class="button is-primary is-outlined is-fullwidth">
            reset all filters
          </button>
        </div>
    </nav>
    """

  'panel-heading -> bulma':
    'prefix': 'panel-heading'
    'body': """

    """

  'panel-block -> bulma':
    'prefix': 'panel-block'
    'body': """

    """

  'panel-tabs -> bulma':
    'prefix': 'panel-tabs'
    'body': """

    """

  'panel-icon -> bulma':
    'prefix': 'panel-icon'
    'body': """
    """

  'tabs -> bulma':
    'prefix': 'tabs'
    'body': """
    <div class="tabs">
     $1
    </div>
    """

  'is-toggle -> bulma':
    'prefix': 'is-toggle'
    'body': """
    <div class="is-toggle">
     $1
    </div>
    """

  'menu -> bulma':
    'prefix': 'menu'
    'body': """
    <aside class="menu">
     $1
    </aside>
    """

  'menu-label -> bulma':
    'prefix': 'menu-label'
    'body': """
    <p class="menu">
     $1
    </p>
    """

  'menu-list -> bulma':
    'prefix': 'menu-list'
    'body': """
    <ul class="menu-list">
     $1
    </ul>
    """
