'.text.html':

    'modal -> bulma':
      'prefix': 'modal'
      'body': """
       <div class="modal">
         <div class="modal-background"></div>
         <div class="modal-content">
           <!-- Any other Bulma elements you want -->
         </div>
         <button class="modal-close is-large"></button>
       </div>
      """

    'modal-background -> bulma':
      'prefix': 'modal-background'
      'body': """
       <div class="modal">
         <div class="modal-background"></div>
         <div class="modal-content">
           <!-- Any other Bulma elements you want -->
         </div>
         <button class="modal-close is-large"></button>
       </div>
      """

    'modal-content -> bulma':
      'prefix': 'modal-content'
      'body': """
       <div class="modal">
         <div class="modal-background"></div>
         <div class="modal-content">
           <!-- Any other Bulma elements you want -->
         </div>
         <button class="modal-close is-large"></button>
       </div>
      """

    'modal-close -> bulma':
      'prefix': 'modal-close'
      'body': """
       <div class="modal">
         <div class="modal-background"></div>
         <div class="modal-content">
           <!-- Any other Bulma elements you want -->
         </div>
         <button class="modal-close is-large"></button>
       </div>
      """

    'modal-card -> bulma':
      'prefix': 'modal-card'
      'body': """
       <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete"></button>
          </header>
          <section class="modal-card-body">
            <!-- Content ... -->
          </section>
          <footer class="modal-card-foot">
            <a class="button is-success">Save changes</a>
            <a class="button">Cancel</a>
          </footer>
        </div>
      """

    'modal-card-head -> bulma':
      'prefix': 'modal-card-head'
      'body': """
       <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete"></button>
          </header>
          <section class="modal-card-body">
            <!-- Content ... -->
          </section>
          <footer class="modal-card-foot">
            <a class="button is-success">Save changes</a>
            <a class="button">Cancel</a>
          </footer>
        </div>
      """

    'modal-card-body -> bulma':
      'prefix': 'modal-card-body'
      'body': """
       <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete"></button>
          </header>
          <section class="modal-card-body">
            <!-- Content ... -->
          </section>
          <footer class="modal-card-foot">
            <a class="button is-success">Save changes</a>
            <a class="button">Cancel</a>
          </footer>
        </div>
      """

    'modal-card-foot -> bulma':
      'prefix': 'modal-card-foot'
      'body': """
       <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete"></button>
          </header>
          <section class="modal-card-body">
            <!-- Content ... -->
          </section>
          <footer class="modal-card-foot">
            <a class="button is-success">Save changes</a>
            <a class="button">Cancel</a>
          </footer>
        </div>
      """
