'.text.html':

  'delete -bumla 0.5.0 ':
    'prefix': 'delete'
    'body': """

    """

  'block -bumla 0.5.0 ':
    'prefix': 'block'
    'body': """

    """

  'tag -bumla 0.5.0 ':
    'prefix': 'tag'
    'body': """

    """

  'tags -bumla 0.5.0 ':
    'prefix': 'tags'
    'body': """

    """

  'notification  -bumla 0.5.0 ':
    'prefix': 'notification '
    'body': """

    """

  'message  -bumla 0.5.0 ':
    'prefix': 'message '
    'body': """

    """

  'message-header  -bumla 0.5.0 ':
    'prefix': 'message-header '
    'body': """

    """

  'message-body  -bumla 0.5.0 ':
    'prefix': 'message-body '
    'body': """

    """

  'progress  -bumla 0.5.0 ':
    'prefix': 'progress '
    'body': """

    """
