'.text.html':

  'delete -> bulma':
    'prefix': 'delete'
    'body': """

    """

  'block -> bulma':
    'prefix': 'block'
    'body': """

    """

  'tag -> bulma':
    'prefix': 'tag'
    'body': """

    """

  'tags -> bulma':
    'prefix': 'tags'
    'body': """

    """

  'notification  -> bulma':
    'prefix': 'notification '
    'body': """

    """

  'message  -> bulma':
    'prefix': 'message '
    'body': """

    """

  'message-header  -> bulma':
    'prefix': 'message-header '
    'body': """

    """

  'message-body  -> bulma':
    'prefix': 'message-body '
    'body': """

    """

  'progress  -> bulma':
    'prefix': 'progress '
    'body': """

    """
