'.text.html':

  'field -> bulma':
    'prefix': 'field'
    'body': """
    <div class="field">
      <label class="label">Label</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input">
      </div>
    </div>
    """

  'label -> bulma':
    'prefix': 'label'
    'body': """
    <div class="field">
      <label class="label">Label</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input">
      </div>
    </div>
    """

  'control -> bulma':
    'prefix': 'control'
    'body': """
    <div class="control">
      <input class="input" type="text" placeholder="Text input">
    </div>
    """

  'select -> bulma':
    'prefix': 'selec'
    'body': """
    <div class="control">
      <div class="select">
        <select>
          <option>Select dropdown</option>
          <option>With options</option>
        </select>
      </div>
    </div>
    """

  'has-addons -> bulma':
    'prefix': 'has-addons'
    'body': """
    <div class="field has-addons">
     <div class="control">
       <input class="input" type="text" placeholder="Find a repository">
     </div>
     <div class="control">
       <a class="button is-info">
         Search
       </a>
     </div>
    </div>
    """

  'has-icons-left -> bulma':
    'prefix': 'has-icons-left'
    'body': """

    """

  'is-expanded -> bulma':
    'prefix': 'is-expanded'
    'body': """

    """

  'is-fullwidth -> bulma':
    'prefix': 'is-fullwidth'
    'body': """

    """

  'is-normal -> bulma':
    'prefix': 'is-normal'
    'body': """

    """

  'is-grouped -> bulma':
    'prefix': 'is-grouped'
    'body': """

    """

  'is-grouped-centered -> bulma':
    'prefix': 'is-grouped-centered'
    'body': """

    """

  'is-grouped-right -> bulma':
    'prefix': 'is-grouped-right'
    'body': """

    """

  'is-grouped-multiline -> bulma':
    'prefix': 'is-grouped-multiline'
    'body': """

    """

  'is-horizontal -> bulma':
    'prefix': 'is-horizontal'
    'body': """

    """

  'field-label -> bulma':
    'prefix': 'field-label'
    'body': """

    """

  'field-body -> bulma':
    'prefix': 'field-body'
    'body': """

    """

  'has-addons-centered -> bulma':
    'prefix': 'has-addons-centered'
    'body': """

    """

  'has-addons-right -> bulma':
    'prefix': 'has-addons-right'
    'body': """

    """

  'has-icons-right -> bulma':
    'prefix': 'has-icons-right'
    'body': """

    """

  'is-small -> bulma':
    'prefix': 'is-small'
    'body': """

    """

  'is-medium -> bulma':
    'prefix': 'is-medium'
    'body': """

    """

  'is-large -> bulma':
    'prefix': 'is-large'
    'body': """

    """

  'is-right -> bulma':
    'prefix': 'is-right'
    'body': """

    """

  'is-left -> bulma':
    'prefix': 'is-left'
    'body': """

    """

  'icon -> bulma':
    'prefix': 'icon'
    'body': """

    """

    'checkbox -> bulma':
      'prefix': 'checkbox'
      'body': """

      """

    'radio -> bulma':
      'prefix': 'radio'
      'body': """

      """

    'file -> bulma':
      'prefix': 'file'
      'body': """

      """

    'file-label -> bulma':
      'prefix': 'file-label'
      'body': """

      """

    'file-input -> bulma':
      'prefix': 'file-input'
      'body': """

      """

    'file-cta -> bulma':
      'prefix': 'file-cta'
      'body': """

      """

    'file-icon -> bulma':
      'prefix': 'file-icon'
      'body': """

      """

    'file-name -> bulma':
      'prefix': 'file-name'
      'body': """

      """

    'has-name -> bulma':
      'prefix': 'has-name'
      'body': """

      """
