'.text.html':

    'tile -> bulma':
      'prefix': 'tile'
      'body': """
      <div class="tile">
       $1
      </div>
      """

    'is-ancestor -> bulma':
      'prefix': 'is-ancestor'
      'body': """
      <div class="tile is-ancestor">
       $1
      </div>
      """

    'is-vertical -> bulma':
      'prefix': 'is-vertical'
      'body': """
      <div class="tile is-vertical">
       $1
      </div>
      """

    'is-parent -> bulma':
      'prefix': 'is-parent'
      'body': """
      <div class="tile is-parent">
       $1
      </div>
      """

    'is-child -> bulma':
      'prefix': 'is-child'
      'body': """
      <div class="tile is-child">
       $1
      </div>
      """

    'content -> bulma':
      'prefix': 'content'
      'body': """
      <div class="content">
       $1
      </div>
      """

    'title -> bulma':
      'prefix': 'title'
      'body': """
      <div class="content">
       <p class="title">$1<p>
      </div>
      """

    'subtitle -> bulma':
      'prefix': 'subtitle'
      'body': """
      <div class="content">
       <p class="subtitle">$1<p>
      </div>
      """

    'box -> bulma':
      'prefix': 'box'
      'body': """
      <div class="box">
       $1
      </div>
      """
