'.text.html':

  'hero -> bulma':
    'prefix': 'hero'
    'body': """
    <section class="hero">
     $1
    </section>
    """

  'hero-body -> bulma':
    'prefix': 'hero-body'
    'body': """
    <section class="hero">
     <div class="hero-body">
      $1
     </div>
    </section>
    """
