'.text.html':

    'container -> bulma':
      'prefix': 'container'
      'body': """
      <div class="container">
       $1
      </div>
      """

    'is-fluid -> bulma':
      'prefix': 'is-fluid'
      'body': """
      <div class="container is-fluid">
       $1
      </div>
      """

    'is-widescreen -> bulma':
      'prefix': 'is-widescreen'
      'body': """
      <div class="container is-widescreen">
       $1
      </div>
      """

    'is-fullhd -> bulma':
      'prefix': 'is-fullhd'
      'body': """
      <div class="container is-fullhd">
       $1
      </div>
      """
