'.text.html':

  'section bulma -> bulma':
    'prefix': 'sectio'
    'body': """
    <section class="section">
     $1
    </section>
    """

  'navbar bulma -> bulma':
    'prefix': 'navbar'
    'body': """
    <nav class="navbar">
     $1
    </nav>
    """
