'.text.html, .text.css, .source.js':
  'editor':
    'completions': [

      # Snippets
      'block'
      'breadcrumb'
      'columns'
      'control'
      'coulmn'
      'content'
      'checkbox'
      'card'
      'card-header'
      'card-header-title'
      'card-header-icon'
      'card-image'
      'card-content'
      'card-footer'
      'card-footer-item'
      'delete'
      'dropdown'
      'dropdown-content'
      'dropdown-divider'
      'dropdown-menu'
      'dropdown-item'
      'dropdown-trigger'
      'field'
      'field-label'
      'field-body'
      'file'
      'file-cta'
      'file-icon'
      'file-name'
      'file-label'
      'file-input'
      'footer'
      'ht'
      'has-addons'
      'has-icons-left'
      'has-icons-right'
      'has-addons-right'
      'has-addons-centered'
      'has-dropdown'
      'has-arrow-separator'
      'has-bullet-separator'
      'has-dot-separator'
      'has-succeeds-separator'
      'has-name'
      'hero'
      'hero-body'
      'label'
      'level'
      'level-left'
      'level-right'
      'level-item'
      'icon'
      'is-one-quarter'
      'is-half'
      'is-two-thirds'
      'is-one-third'
      'is-three-quarters'
      'is-2'
      'is-3'
      'is-4'
      'is-5'
      'is-6'
      'is-7'
      'is-8'
      'is-9'
      'is-10'
      'is-11'
      'is-mobile'
      'is-desktop'
      'is-multiline'
      'is-centered'
      'is-narrow'
      'is-gapless'
      'is-black'
      'is-white'
      'is-light'
      'is-dark'
      'is-link'
      'is-outlined'
      'is-inverted'
      'is-active'
      'is-static'
      'is-primary'
      'is-info'
      'is-success'
      'is-warning'
      'is-danger'
      'is-hover'
      'is-focused'
      'is-loading'
      'is-expanded'
      'is-fullwidth'
      'is-normal'
      'is-grouped'
      'is-grouped-right'
      'is-grouped-centered'
      'is-grouped-multiline'
      'is-horizontal'
      'is-large'
      'is-small'
      'is-medium'
      'is-ancestor'
      'is-vertical'
      'is-parent'
      'is-child'
      'is-fluid'
      'is-widescreen'
      'is-fullhd'
      'is-16x16'
      'is-24x24'
      'is-32x32'
      'is-48x48'
      'is-64x64'
      'is-96x96'
      'is-128x128'
      'is-1by1'
      'is-4by3'
      'is-3by2'
      'is-16by9'
      'is-2by1'
      'is-square'
      'is-transparent'
      'is-hoverable'
      'is-boxed'
      'is-hidden-desktop'
      'is-current'
      'is-toggle'
      'is-offset-half'
      'is-offset-two-thirds'
      'is-offset-three-quarters'
      'is-offset-one-quarter'
      'is-offset-1'
      'is-offset-2'
      'is-offset-3'
      'is-offset-4'
      'is-offset-5'
      'is-offset-6'
      'is-offset-7'
      'is-offset-8'
      'is-offset-9'
      'is-offset-10'
      'is-offset-11'
      'is-offset-12'
      'image'
      'notification'
      'navbar'
      'navbar-brand'
      'navbar-burger'
      'navbar-menu'
      'navbar-start'
      'navbar-end'
      'navbar-item'
      'navbar-link'
      'navbar-dropdown'
      'navbar-divider'
      'message'
      'message-body'
      'message-header'
      'modal'
      'modal-background'
      'modal-content'
      'modal-close'
      'modal-card'
      'modal-card-title'
      'modal-card-head'
      'modal-card-body'
      'modal-card-foot'
      'menu'
      'menu-list'
      'menu-label'
      'media'
      'media-left'
      'media-right'
      'media-content'
      'navbar'
      'select'
      'progress'
      'pagination'
      'pagination-link'
      'pagination-list'
      'pagination-next'
      'pagination-previous'
      'pagination-ellipsis'
      'panel'
      'panel-block'
      'panel-icon'
      'panel-tabs'
      'panel-heading'
      'radio'
      'tag'
      'tags'
      'tile'
      'title'
      'tabs'
      'subtitle'
      'box'
    ]
